.page-layout {
  transition: visibility 4s, ease;
}

.center-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  margin: 0;
  position: absolute;
  top: 0;  
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.header-center {
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer {
  margin: 0;
  position: absolute;
  bottom: 0;  
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);  
}

.footer-center {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rotate-svg {
  transform: rotateZ(90deg);
  transition: transform;
  transition-duration: 0.3s;
}

.custom-hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.custom-show {
  visibility: visible;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.my-image {
  transition: filter 0.3s ease-in-out;
  position: relative;
  top: 20rem
}

.my-image:hover {
  filter: brightness(0.8);
  transition: filter 0.3s ease-in-out;
}